<?php

$db = array(
    'database'  => 'album',
    'username'  => 'root',
    'password'  => '',
    'hostname'  => 'localhost',
);

return array(
    'service_manager' => array(
        'factories' => array(
            'Zend\Db\Adapter\Adapter' => function ($sm) use ($db) {
                return new Zend\Db\Adapter\Adapter(array(
                    'driver'    => 'pdo',
                    'dsn'       => 'mysql:dbname='.$db['database'].';host='.$db['hostname'],
                    'database'  => $db['database'],
                    'username'  => $db['username'],
                    'password'  => $db['password'],
                    'hostname'  => $db['hostname'],
                ));
            },
        ),
    ),
);